* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

nav{
  position: fixed !important;
  width: 100%;
}

main {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 80px);
  padding-top: 56px;

  @media screen and (max-width: 992px) {
    min-height: calc(100vh - 80px);
    padding-top: 46px;
  }
}

button{
  border: none !important;
}

h1 {
  font-size: $textXxl !important;
}

h2 {
  font-size: $textXl !important;
}